.lxgw-wenkai-tc-regular {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}
  
.inconsolata-fonte {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 590;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #2B3133;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #354950;
    width: 300px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 2px;
}

#foto_de_perfil{
    margin: auto;
    padding: 5px;
}

h1{
    margin-bottom: 8px;
    color: white;
}

#localizacao{
    margin-top: 0px;
    color: rgba(221, 221, 221, 0.788);
}

#links{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #3D6A7A;
    width: 240px;
    height: 30px;
    margin: 2.7px;
    border-radius: 2px;
    color: black;
}

a>img{
    padding-right: 10px;
}
